.profiler-report {
  border: solid 1px gray;
  border-collapse: collapse;
  margin-top: 5px;
}

.profiler-report th, .profiler-report td {
  vertical-align: top;
  padding: 3px;
}

.profiler-report thead {
  border: solid 1px gray;
  background: #c9e6ec;
}

.profiler-report th {
  vertical-align: middle;
  font-weight: bold;
}

.profiler-report th.location {
  width: 19%;
}

.profiler-report th.total-duration {
  width: 6%;
}
.profiler-report th.count {
  width: 6%;
}

.profiler-report th.average-duration {
  width: 6%;
}

.profiler-report th.max-duration {
  width: 6%;
}

.profiler-report th.max-duration-sql {
  width: 57%;
}

.profiler-report tbody tr:nth-child(even) {
  background-color: #eee;
}

.profiler-report .rank-bar {
  background-color: red; 
  height: 1.2em;
}

.profiler-report td.numeric {
  text-align: right;
}

.profiler-report td.sql {
  font-family: monospace;
  padding-left: 10px;
}
